main {
    margin-top: 15rem;
    margin-bottom: 150px;
}
.introduction-text {
    margin-left: 10rem;
    line-height: 1.1;
}
.underline {
    font-weight: bold;
    font-size: 4rem;
}
.search-form_container {
    background-color: #ffff4d;
    margin-top: 5rem;
    .underline {
        margin-left: 10rem;
    }
}
.search-form {
    display: flex;
    align-items: baseline;
    min-height: 30rem;
    justify-content: space-around;
    max-width: 170rem;
    margin: 0 auto;

    padding-top: 5rem;
}
input {
    padding: 2rem 0;
    border: none;
    width: 90rem;
}
select {
    padding: 2.2rem 0;
    border: none;
    width: 40rem;
    padding-left: 3rem;
    font-weight: bold;
}
.result-section {
    min-height: 50rem;
    max-width: 163rem;
    background-color: white;
    // padding: 5rem 0;
    margin: 0 auto;
   
    p {
        font-weight: bold;
    }
}
.result-section_container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 3rem 0;

    position: relative;
}

.result-section_single {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "col-1 col-2 col-3 col-4 col-5";
    
    min-height: 80px;
}
.id-single, .artist-name, .artist-single, .album-single {
    padding: 0 50px;
}

.result-section_counter {
    text-align: right;
    font-weight: bold;
    font-style: italic;
}
.id-single {
    text-align: center;
}
.result-section_album {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    // max-width: 500px;
    // margin-right: 250px;
    // margin-left: auto;
    .album-single.col-4 {
        min-height: 80px;
    }
}

 /* The Modal (background) */
 #myBtn {
    background-color: yellow;
    border: none;
    height: 50px;
    display: inline-block;
    padding: 20px 0;
    width: 15%;
    margin-right: 0;
    margin-left: auto;     
 }
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .result-album {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 460px;
    max-width: 300px;
    padding: 70px 0;
  }

  .show-more-btn {
      text-align: center;
  }